<div class="card" class="mt-3">
    <div class="card-header text-white bg-info">
      <h4>Détail produit {{code}}</h4>
    </div>
    <div class="card-body">
  
      <table class="table table-bordered table-striped col-8 offset-md-2">
        <tbody>
          <tr>
            <td>Code</td>
            <td>{{produit.code}}</td>
          </tr>

          <tr>
              <td>Titre</td>
              <td>{{produit.titre}}</td>
          </tr>

          <tr>
              <td>Prix Unitaire</td>
              <td>{{produit.prixUnitaire | currency:"EUR":"symbol"}}</td>
          </tr>
        </tbody>
      </table>
      <button type="button" class="btn btn-info offset-md-2" (click)="navigateToList()">Back to products list</button>
    </div>
    <div class="card-footer text-muted">
      Footer
    </div>
  </div>
  
